<div class="admin-panel">
    <div class="tool-add">
        <span class="big-title">Add new tool</span>
        <form
                class="form-panel"
                (ngSubmit)="onSubmit()"
                #f="ngForm">

            <input
                    placeholder="Name"
                    name="name"
                    ngModel
                    type="text"
                    class="log-input">

            <input
                    placeholder="Details"
                    name="details"
                    ngModel
                    type="text"
                    class="log-input">
            <input
                    placeholder="Image"
                    name="image"
                    ngModel
                    type="text"
                    class="log-input">
            <select
                    name="category"
                    ngModel
                    #category
                    type="text"
                    class="log-input select-class ">
                <option selected>Add category...</option>
                <option *ngFor="let categoryName of toolCategoryNames">{{categoryName}}</option>
            </select>
            <div class="tag-input" *ngIf="category.value === 'Add category...' || category.value === ''">
                <input
                        placeholder="Add new category"
                        name="newCategory"
                        ngModel
                        required
                        type="text"
                        class="log-input">
            </div>
            <div class="tag-input">
                <input
                        placeholder="Tag"
                        name="tag"
                        ngModel
                        type="text"
                        class="log-input">
                <button type="button" class="btn btn-success tag-button" (click)="addTags()">Add new tag</button>
            </div>
            <div class="tags-text">
        <span *ngFor="let tag of tags" class="tags-text">
            <button class="tag-remove-button" (click)="removeTag(tag)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            {{ tag }}
        </span>
            </div>
            <button type="submit" class="btn btn-success">Add tool!</button>
        </form>
    </div>

    <div class="tools">
        <input class="search" type="text" name="search" placeholder="Search..">
        <div class="scroll">
            <div class="tool" *ngFor="let tool of tools; let i=index">
                <div>
                    <img class="tool-image" [src]="tool.image" alt=" ">
                    {{tool.name}}
                </div>

                <div class="right-buttons">
                    <div>
                        <app-modal-details [Tool]="tool"></app-modal-details>
                    </div>
                    <button class="tag-remove-button"
                            (click)="deleteTool(tool)">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>

                    <app-modal-edit [tool]="tool" [toolCategoryNames]="toolCategoryNames"
                                    (toolEdited)="toolEdited($event, i)"></app-modal-edit>
                </div>
            </div>
        </div>
    </div>
</div>

