.admin-panel {
    padding-top: 70px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    min-width: 1000px;
}

.tool-add {
    height: calc(100vh - 100px);
    overflow: auto;
    flex-basis: 60%;
    padding-right: 50px;
    border-right: dashed 1px #d6e7b8;
    margin-left: 50px;
    margin-right: 50px;
}

.tools {
    margin-right: 50px;
    flex-basis: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

}

.scroll {
    max-height: calc(100vh - 150px);
    overflow: auto;
    width: 100%;
}

.tool {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0 8px 0;
    justify-content: space-between;

}

.tool:nth-child(2n+1) {
    background-color: rgba(200, 200, 200, .1);
}

.form-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
}

.log-input {
    margin: 10px 0 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #d6e7b8;
    box-shadow: 0 0 8px rgba(0, 0, 0, .05);
    outline: 0;
    background-color: white;
    color: #494949;
    width: 100%;
}

.select-class {
    height: 45px;
    cursor: pointer;
}

.tag-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-button {
    margin-left: 20px;
}

.tags-text {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    color: #999;
    font-size: .9rem;
    flex-wrap: wrap;
    flex-basis: 25%;
}

.tag-remove-button {
    background-color: tomato;
    cursor: pointer;
    height: 18px;
    width: 18px;
    color: white;
    padding: 0;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    align-items: center;
    box-shadow: none;
}

.tag-remove-button:hover {
    background-color: indianred;
}

.tool-image {
    margin-right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.right-buttons {
    display: flex;
    margin-right: 10px;
    justify-content: flex-end;
    align-items: center;
}

.search {
    border: solid 1px #b7e26c;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.search:focus {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 0 #b7e26c;;
    background-color: white;
    padding: 10px;
    width: 100%;
}

.big-title {
    color: #393b38;
    font-size: 1.5rem;
    font-family: Consolas, monaco, monospace;
    font-weight: 600;
}
