/* You can add global styles to this file, and also import other style files */

.body-class {
    overflow: hidden;
}

@media all and (max-width: 1100px) {
    .body-class {
        overflow: scroll;
    }
}

::-moz-selection {
    background: #d6e7b8;
}

::selection {
    background: #d6e7b8;
}

