/* You can add global styles to this file, and also import other style files */

.body-class {
    overflow: hidden;
}

@media all and (max-width: 1100px) {
    .body-class {
        overflow: scroll;
    }
}

::-moz-selection {
    background: #d6e7b8;
}

::selection {
    background: #d6e7b8;
}

.my-button-green {
    background-color: #91c33c;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    color: #fff;
    font-family: Consolas, monaco, monospace;
}

.my-button-green:hover {
    background-color: #83b036;
    border-radius: 3px;
}
