.modalSize {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00000080;
  height: 100%;
  width: 100%;
}

.modalBackground {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40%;
  padding: 30px;
  border: solid 1px #ddd;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px){
  .modalBackground {
    width: 80%;
  }
}

.modalWindow {
  background-color: #ffffff;
  border-radius: 10px;
  border: solid 1px #ddd;
}

.imgDetails {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.buttonDetails {
  background-color: #ffffff;
  color: #505151;
  border: solid 1px #d7dadb;
}

.buttonDetails:hover {
  background-color: #004b99;
  color: #fff;
  border: solid 1px #00366e;
}

.buttonHeart {
  border-radius: 50%;
  background-color: #d7dadb;
  box-shadow: inset 0 0 10px #bfc1c1;
  color: #fff;
  font-size: 1.6rem;
  border: none;
}

.buttonHeart:hover {
  text-shadow: 0 0 10px #006ad9;
}

.buttonActive {
  color: #0057b1;
}

div > button {
  margin: 10px;
}

.buttonFlex {
  display: flex;
}


