.modal-background {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
}

.modal-window {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 30px;
  border: solid 1px #ddd;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 60rem) {
  .modal-background {
    width: 80%;
  }
}

.img-details {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.button-details {
  margin-bottom: 10px;
  background-color: transparent;
  color: #529a2f;
  border: none;
}

.button-details:hover {
  color: #529a2f;
  text-decoration: underline;
}

.heart-button {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
}

.heart-empty {
  color: #4b4b4b;
}

.heart-filled {
  color: #529a2f;
}

div > button {
  margin: 10px;
}

.button-flex {
  display: flex;
}
