.navbar-shell-big {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    background-color: #3f3735;
    width: 100vw;
    padding: 0 20px 0 20px;
    border: none;
}

.navbar-shell-small {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    z-index: 1;
    background-color: #3f3735;
    width: 100vw;
    padding: 0 20px 0 20px;
    margin-right: auto;
    border: none;
}

@media screen and (max-width: 900px) {
    .navbar-shell-big {
        display: none;
    }

    .navbar-shell-small {
        display: flex;
    }
}

.link {
    cursor: pointer;
    color: #eef3ef;
    padding: 10px 30px 10px 30px;
    font-family: Consolas, monaco, monospace;
    font-weight: 700;
    font-size: 1.1rem;
}

.link:hover, .link-dropdown:hover, .dropdown-small:hover {
    background-color: #6d392c;
    color: #eef3ef;
    cursor: pointer;
}

.dropdown-small {
    width: auto;
}

.my-dropdown {
    cursor: pointer;
    color: #eef3ef;
    background-color: transparent;
    border: none;
    padding: 10px 30px 10px 30px;
    font-family: Consolas, monaco, monospace;
    font-weight: 700;
    font-size: 1.1rem;
    outline: none;
    min-width: 200px;
}

.dropdown-content {
    cursor: pointer;
    display: none;
    position: absolute;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .1);
    min-width: 100%;
    padding: 10px 0 10px 0;
    background-color: #fff;
}

.link-dropdown {
    margin-left: auto;
    margin-right: 20px;
}

.dropdown, .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.hamburger, #log-out, .dropdown-item {
    font-weight: 700;
    outline: none;
    font-size: 1.1rem;
    padding: 10px 30px 10px 30px;
    font-family: Consolas, monaco, monospace;
    color: #494949;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    min-width: 100%;
    display: flex;
    align-items: center;
}

.hamburger:hover, #log-out:hover, .dropdown-item:hover {
    color: #eef3ef;
    outline: none;
    background-color: #6d392c;
    cursor: pointer;
}

.fa {
    margin-right: 10px;
}
