#navbar-nav {
  background-color: #529a2f;
  padding: 0;
}

.link {
  color: #eef3ef;
  padding: 10px 30px 10px 30px;
  font-family: Consolas,monaco,monospace;
  font-weight: 700;
  font-size: 1.1rem;
}

.link:first-child {
  margin-left: 20px;
}

.link:last-child {
  margin-left: auto;
  margin-right: 20px;
}

.link:hover {
  background-color: #91c33c;
  color: #eef3ef;
}

.active, .active:hover {
  background-color: #497c25;
  color: #fff;
}
