#navbarNav {
  background-color: #004b99;
  padding: 0px;
}

.link {
  color: #eef2f3;
  padding: 15px;
  font-family: "Arial Black";
}

.link:first-child {
  margin-left: 20px;
}

.link:last-child {
  margin-left: auto;
  margin-right: 20px;
}

.link:hover {
  background-color: #006ad9;
  color: #eef2f3;
}

.active, .active:hover {
  background-color: #00366e;
  color: #fff;
}
