.tool-shell {
  display: flex;
  height: 405px;
  width: 365px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid .1rem #f4f4f4;
  box-shadow: 4px 4px 6px rgba(130, 130, 130, .1);
}

.tool {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #333;
}

.tool-image {
  width: 20%;
  border-radius: 50%;
}

.tool-title-font {
  color: #333333;
  font-size: 1.2rem;
}

.tool-details-font {
  color: #333333;
  font-size: .9rem;
}

.button-heart {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: #c80034;
  font-size: 1.5rem;
  border: none;
}

.button-heart:hover {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: transparent;
  color: #c80034;
  font-size: 1.5rem;
  border: none;
}
