.toolBorder {
  border: solid 1px #d7dadb;
  background-color: #fff;
  color: #333;
  width: 270px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#top {
  background-color: #e5e7e7;
  border-bottom: solid 1px #d7dadb;
}

#title {
  flex-basis: 75%;
  color: #505151;
  font-weight: 400;
}

#logo {
  flex-basis: 25%;
}

#image {
  height: 65px;
  width: 65px;
}

#details {
  text-align: justify;
  height: 110px;
  padding: 10px;
}

#buttons {
  background-color: #e5e7e7;
  display: flex;
  border-top: solid 1px #d7dadb;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px;
}

#heart {
  height: 30px;
  width: 30px;
}

.buttonHeart {
  border-radius: 50%;
  background-color: #d7dadb;
  box-shadow: inset 0 0 10px #bfc1c1;
  color: #fff;
  font-size: 1.6rem;
  border: none;
}

.buttonHeart:hover {
  text-shadow: 0 0 10px #006ad9;
}

.buttonActive {
  color: #0057b1;
}
