.form-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group {
    width: 100%;
}

.log-input {
    outline: 0;
    background-color: rgba(255, 255, 255, 1);
    margin-right: 20px;
    width: 100%;
    border: none;
    height: 36px;
    padding: 0 0 0 10px;
}

.log-input-first {
    margin-bottom: 20px;
}

.icon-left {
    display: flex;
    background-color: #91c33c;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    margin-left: 20px;
    padding: 6px;
    width: 36px;
}

.my-button-green {
    margin-top: 20px;
}
@media (max-width: 60rem) {
    .panel {
        width: 100%;
    }

    .title-log {
        font-size: 4em;
    }
}
