.dashboard {
    display: flex;
    width: 100vw;
    min-width: 400px;

}

.filters-app {
    flex-basis: 25%;
}

.tools-app {
    flex-basis: 75%;
}

@media (max-width: 1100px) {
    .dashboard {
        flex-direction: column;
    }
}
