.background {
    animation: background-animation 32s steps(1, end) infinite;
    background: #ffffff url(../../assets/img/bg-c.png) no-repeat bottom center fixed;
    background-size: cover;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-log {
    color: white;
    font-size: 6em;
    display: flex;
    justify-content: center;
    font-family: "Dancing Script";
    text-shadow: 0 0 .4rem #000, 0 0 4rem #000;
    padding-bottom: 20px;
}

.panel {
    background-color: rgba(0, 0, 0, 0.55);
    box-shadow: 0rem 0rem 2rem #000;
    border: solid 1px #000000;
    width: 40vw;
    padding: 0 20px 20px 20px;
}

@keyframes background-animation {
    0%, 100% {
        background: url(../../assets/img/bg-c.png) no-repeat bottom center fixed;
        background-size: cover;
    }
    25% {
        background: url(../../assets/img/bg-k.png) no-repeat bottom center fixed;
        background-size: cover;
    }
    50% {
        background: url(../../assets/img/bg-g.png) no-repeat bottom center fixed;
        background-size: cover;
    }
    75% {
        background: url(../../assets/img/bg-j.png) no-repeat bottom center fixed;
        background-size: cover;
    }
}

@media (max-width: 60rem) {
    .panel {
        width: 100%;
    }

    .title-log {
        font-size: 4em;
    }
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.buttons-design {
    background-color: rgba(0, 0, 0, .5);
    color: #4b8d2b;
    font-family: Consolas, monaco, monospace;
    font-size: 1rem;
    outline: none;
    border: solid 1px #222;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.buttons-design:hover, .buttons-design:focus, .buttons-design:active {
    outline: none;
    box-shadow: none;
    background-color: #4b8d2b;
    color: white;
}
