<div class="modal-background"
     *ngIf="hidden === false">
    <div class="modal-window">
        <div class="button-right">
            <button
                    (click)="hideModal()"
                    class="btn close-button"
            ><i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>

        <span class="big-title">Edit tool</span>
        <form
                class="form-panel"
                (ngSubmit)="onSubmit()"
                #f="ngForm">

            <input
                    name="name"
                    [(ngModel)]="toolToEdit.name"
                    type="text"
                    class="log-input">
            <input
                    placeholder="Details"
                    name="details"
                    [(ngModel)]="toolToEdit.details"
                    type="text"
                    class="log-input">
            <input
                    placeholder="Image"
                    name="image"
                    [(ngModel)]="toolToEdit.image"
                    type="text"
                    class="log-input">
            <input
                    placeholder="Link"
                    name="link"
                    [(ngModel)]="toolToEdit.link"
                    type="text"
                    class="log-input">
            <select
                    name="category"
                    [(ngModel)]="toolToEdit.category"
                    #category
                    type="text"
                    class="log-input select-class ">
                <option selected>Add category...</option>
                <option *ngFor="let categoryName of toolCategoryNames">{{categoryName}}</option>
            </select>
            <div class="tag-input" *ngIf="category.value === 'Add category...' || category.value === ''">
                <input
                        placeholder="Add new category"
                        name="newCategory"
                        [(ngModel)]="newCategory"
                        type="text"
                        class="log-input">
            </div>
            <div class="tag-input">
                <input
                        placeholder="Tag"
                        name="tag"
                        ngModel
                        type="text"
                        class="log-input">
                <button type="button" class="btn btn-success tag-button pointer-button" (click)="addTags()">Add new tag</button>
            </div>
            <div class="tags-text">
        <span *ngFor="let tag of toolToEdit.tags" class="tags-text">
            <button class="close-button" (click)="removeTag(tag)">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            {{ tag }}
        </span>
            </div>
            <button type="button" (click)="onSubmit()" class="btn btn-success pointer-button">Save tool!</button>
        </form>
    </div>

</div>

<div class="button-flex">
    <button (click)="showModalEdit()"
            class="edit-button">
        <i class="fa fa-paint-brush" aria-hidden="true"></i></button>
</div>
