.modal-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
}

.modal-window {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 30px;
    border: solid 1px #ddd;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 60rem) {
    .modal-window {
        width: 80%;
    }
}

div > button {
    margin: 10px;
}

.close-button {
    background-color: #c33c3c;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border: none;
    align-items: center;
    box-shadow: none;
}

.close-button:hover {
    background-color: indianred;
}

.button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.edit-button {
    background-color: #3c7fc3;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: none;
    box-shadow: none;
}

.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button:hover {
    background-color: royalblue;
}

.form-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: none;
}

.log-input {
    margin: 10px 0 10px 0;
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #d6e7b8;
    box-shadow: 0 0 8px rgba(0, 0, 0, .05);
    outline: 0;
    background-color: white;
    color: #494949;
    width: 100%;
}

.select-class {
    height: 45px;
    cursor: pointer;
}

.tag-input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tag-button {
    margin-left: 20px;
}

.tags-text {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    color: #999;
    font-size: .9rem;
    flex-wrap: wrap;
    flex-basis: 25%;
}

.big-title {
    color: #393b38;
    font-size: 1.5rem;
    font-family: Consolas, monaco, monospace;
    font-weight: 600;
}

.pointer-button {
    cursor: pointer;
}
