.modal-shell {
    position: fixed;
    bottom: 0;
    left: 50vw;
    background-color: #3f3735;
    height: 100px;
    width: 300px;
    border-radius: 3px 3px 0 0;
    color: white;
    border: 0;
    padding: 10px;
    animation: modal .5s ease-out;
    z-index: 3;
}

@keyframes modal {
    0% {
        bottom: -100px
    }
    100% {
        bottom: 0px;
    }
}

.button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button-x {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    width: 20px;
    height: 20px;
    background-color: transparent;
    outline: none;
}

.button-x:hover {
    background-color: #c33c3c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 50%;
}

.text-area {
    overflow: auto;
    height: 80px;
}
