.modal-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
}

.modal-window {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 30px;
    border: solid 1px #ddd;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

@media (max-width: 60rem) {
    .modal-window {
        width: 80%;
    }
}

.img-details {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.button-details {
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 15px;
    outline: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #91c33c;
    color: #fff;
    border: none;
}

.button-details:hover, .button-details:active, .button-details:focus {
    background-color: #77a031;
    border: none;
    box-shadow: none;
}


.heart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: #e06e53;
    color: white;
}


.heart-button:hover {
    background-color: #ba5b45;
}

.heart-button-active {
    background-color: #e06e53;
    color: white;
}

div > button {
    margin: 10px;
}

.button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-button {
    background-color: #c33c3c;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: white;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
    border: none;
    align-items: center;
    box-shadow: none;
}

.close-button:hover {
    background-color: indianred;
}

.button-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.category-tags {
    color: #bdbdbd;
    font-size: .8rem;
}

.big-title {
    margin-top: 15px;
    color: #393b38;
    font-size: 1.5rem;
    font-family: Consolas, monaco, monospace;
    font-weight: 600;
}

.link {
    color: #91c33c;
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
