.tool-shell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 365px;
    margin: 20px 10px 50px 10px;
    border: solid .1rem #f4f4f4;
    box-shadow: 4px 4px 6px rgba(200, 200, 200, .1);
    transition-duration: .5s;
    transition-delay: 0s;
}

.tool-shell:hover {
    background-color: rgba(200, 200, 200, .3);
}

.tool {
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4b4b4b;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tool-image {
    margin-top: 20px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.tool-title-font {
    margin-top: 10px;
    font-weight: 600;
    font-family: Consolas, monaco, monospace;
    color: #333333;
    font-size: 1.2rem;
}

.tool-tag-font {
    color: #bdbdbd;
    font-size: .8rem;
}

.tags {
    display: flex;
}

.tool-details-font {
    margin-top: 20px;
    padding-top: 20px;
    border-top: solid 1px #eee;
    text-align: justify;
    color: #585858;
    font-size: .9rem;
}

.heart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    box-shadow: none;
    background-color: #e06e53;
    color: white;
}


.heart-button:hover {
    background-color: #ba5b45;
}

.heart-button-active {
    background-color: #e06e53;
    color: white;
}

.fa {
    display: flex;
    justify-content: center;
    align-items: center;
}
