<div class="background" [ngStyle]="{height: getPx()}" (window:resize)="onResize($event)">
  <h1 id="titleLog"> Tools Portfolio</h1>
  <div class="panel">
    <form
      id="log"
      (ngSubmit)="onSubmit()"
      #f="ngForm">
      <input
        placeholder="Username"
        name="username"
        ngModel
        type="username"
        class="from-control logInput">
      <input
        placeholder="Password"
        name="password"
        ngModel
        type="password"
        class="from-control logInput">
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>
</div>
