.background {
  animation: backgroundAnimation 100s infinite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titleLog {
  color: white;
  font-size: 4em;
  font-family: Impact;
  padding-bottom: 20px;
}

.panel {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 1px #000000;
  width: 40%;
  padding: 78px 20px 20px 20px;
}

#log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logInput {
  margin-bottom: 20px;
  width: 90%;
}

@keyframes backgroundAnimation {
  0% {
    background: url(https://static.pexels.com/photos/23049/pexels-photo.jpg) no-repeat center fixed;
    background-size: cover;
  }
  20% {
    background: url(https://www.walldevil.com/wallpapers/a89/wallpaper-forest-static-tumblr-lbnn95lfb.jpg) no-repeat center fixed;
    background-size: cover;
  }
  40% {
    background: url(http://7bna.net/images/mountain-wallpaper/mountain-wallpaper-34.jpg) no-repeat center fixed;
    background-size: cover;
  }
  60% {
    background: url(https://tagulfsilva.files.wordpress.com/2013/06/wide-wallpaper-1920x1200-0431.jpg) no-repeat center fixed;
    background-size: cover;
  }
  100% {
    background: url(http://www.proinox.rs/files/images/1446547286-elevator-world-architecture-buildings-structures-chrome-metal-steel-window-glass-interior-design-wallpaper.jpg) no-repeat center fixed;
    background-size: cover;
  }
}
