.checkbox, .active, .no-active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 21px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: #393b38;
    font-size: 1.3rem;
}

.active {
    color: white;
}
