.category {
  margin: 20px;
  padding: 20px;
  border-radius: 1rem;
  background-color: #f8f9fa;
}

.categoryTitle {
  padding: 0 0 20px 20px;
  color: #00366e;
  text-shadow: 0 0 5px #fff;
}

.dashboard {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
