.filter {
    padding: 80px 50px 0 50px;
    display: flex;
    height: 89vh;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    background-color: #91c33c;
    min-height: 100vh;
}

.filter-title {
    margin-top: 20px;
    color: #393b38;
    font-size: 2rem;
    font-family: Consolas, monaco, monospace;
    font-weight: 600;
}

.filter-fav {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 10px 0 5px 25px;
    font-family: Consolas, monaco, monospace;
    font-size: 1rem;
    color: #393b38;

}

.filter-category {
    font-weight: 500;
    padding: 10px 0 5px 25px;
    font-family: Consolas, monaco, monospace;
    font-size: 1rem;
    color: #393b38;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (max-width: 1100px) {
    .filter {
        padding: 10px 0 10px 0;
        margin: 9vh 0 0 0;
        border: none;
        justify-content: center;
        width: 100vw;
        height: auto;
        align-items: center;
    }
}

.search {
    margin-bottom: 20px;
    border: solid 1px #fff;
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    width: 93%;
    outline: none;
}

.search:focus {
    border: solid 1px #fff;
    background-color: rgba(256, 256, 256, .2s);
    padding: 10px;
    outline: none;
}
