<div class="filter my-font">
    <input class="search" type="text" name="search" (keyup)="search()" [(ngModel)]="searchText" placeholder="Search...">
    <div class="filter-fav">
        <app-checkbox (checkboxChange)="onFavoritesChanged($event)"></app-checkbox>
        Favorite
    </div>
    <span class="filter-title">FILTERS</span>
    <div *ngFor="let filterName of filterNames; let i = index" class="filter-category">
        <app-filter (filterChanged)="onFilterChanged($event, i)"
                    [tags]="filterName.tags"
                    [name]="filterName.category"></app-filter>
    </div>
</div>

